:root {
  --color-main: hsl(21, 68%, 77%); /* #ecb79b */
  --color-main--lighter: hsl(21, 63%, 80%);
  --color-main--darker: hsl(21, 28%, 52%);
  --color-alt: hsl(112, 38%, 8%); /* #0e1b0c */

  --font-main: "Quicksand", sans-serif;
  height: 100%;
  background-color: var(--color-alt);
  color: var(--color-main);
  font-family: var(--font-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
}
#root {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

header,
main,
footer {
  width: 100%;
  padding: 2rem;
}
.content {
  max-width: 1240px;
  margin-inline: auto;
}
header {
  border-bottom: 1px solid var(--color-main);
}
main {
  flex-grow: 1;
}
main > .content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
footer {
  background-color: var(--color-main);
  color: var(--color-alt);
  text-align: right;
}

/** -- TYPOGRAPHY -- **/
:where(h1, h2, h3, h4, h5, h6, p):only-child {
  margin: 0;
}
:where(h1, h2, h3, h4, h5, h6, p):first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.986em;
}
h2 {
  font-size: 2.488em;
}
h3 {
  font-size: 2.074em;
}
h4 {
  font-size: 1.728em;
}
h5 {
  font-size: 1.44em;
}
h6 {
  font-size: 1.2em;
}
p {
  font-size: 1em;
}
small,
.small {
  font-size: 0.833em;
}
.x-small {
  font-size: 0.694em;
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

/** -- ELEMENTS -- **/
a {
  color: var(--color-main);
}
a:hover {
  text-decoration: none;
}
footer a {
  color: var(--color-alt);
}
img {
  max-width: 100%;
}

button {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--color-alt);
  color: var(--color-main);
  border: 1px solid var(--color-main);
  cursor: pointer;
  font-family: var(--font-main);
  font-weight: 500;
  text-transform: uppercase;
}
button.active {
  background-color: var(--color-main);
  color: var(--color-alt);
}
button:hover {
  background-color: var(--color-main--darker);
  color: var(--color-main--lighter);
  border-color: var(--color-main--darker);
}

/** -- COMPONENTS -- **/
.pet-list {
  width: 100%;
}
.pet-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0;
}

/* - PET CARD - */
.pet-card {
  background-color: var(--color-main);
  color: var(--color-alt);
  padding: 2rem;
  border-radius: 1rem;
}
.pet-card h2 {
  margin: 0;
}
.pet-card article {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.pet-card figure {
  margin: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  border: 0.2rem solid var(--color-alt);
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main--lighter);
}
.pet-card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pet-card h4 {
  border-bottom: 1px solid var(--color-alt);
}
.pet-card .pet-props {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pet-props li + li {
  margin-top: 0.5rem;
}
.pet-card .pet-prefs ul {
  margin: 0;
  padding-left: 1rem;
}

/* - PET NAV - */
nav {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
nav button {
  width: auto;
  border-radius: 100%;
  border: 1px solid var(--color-alt);
  aspect-ratio: 1;
  background-color: var(--color-main);
  color: var(--color-alt);
}
nav button:hover {
  border-color: var(--color-alt);
  background-color: var(--color-alt);
}

/** -- MEDIA QUERIES -- **/
@media screen and (min-width: 640px) {
  main .content {
    flex-direction: row;
  }

  .pet-list {
    max-width: 140px;
  }
  .pet-list ul {
    display: block;
  }

  .pet-card {
    width: 100%;
    padding-inline: 4rem;
  }
  .pet-card h2 {
    width: 50%;
    margin: 0;
    align-self: center;
  }
  .pet-card figure {
    order: -1;
    width: calc(50% - 2rem);
    max-width: 300px;
  }
  .pet-card .pet-bio {
    width: 100%;
    flex-grow: 1;
  }
  .pet-prefs {
    width: calc(50% - 1rem);
    flex-grow: 1;
  }
  nav {
    position: absolute;
    top: calc(-2rem - 1px);
    right: -1px;
  }
  nav button {
    border-radius: 0;
    aspect-ratio: initial;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1240px) {
  header,
  main,
  footer {
    padding-inline: 4rem;
  }
  .pet-card h2 {
    width: 100%;
  }
  .pet-card figure {
    order: initial;
    width: calc(25% - 2rem);
  }
  .pet-card .pet-bio {
    width: calc(49% - 6rem);
  }
  .pet-prefs {
    width: 13%;
  }
  nav {
    top: 0;
    right: 4rem;
  }
}
